<%# /wizard_add?first_num=33&second_num=122 %>
<h1>Street address to coordinates calculation</h1>
<form action="/wizard_street_to_coords">
  <div>
    <label for="zebra">Street Address:</label>
    <input id="zebra" placeholder="Enter the address" name="user_street_address">
  </div>

  <button>
    Lookup Coordinates!
  </button>
</form>