<!DOCTYPE html>
<html>
    <title>Omnicalc 2</title>

  <body>
      
    <h1>Translation</h1>

<p><%= @translation %></p>

<a href="/muggle_translate">Translate something else!</a>

  </body>
</html>
